* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: white;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    width: 100vw;
    min-height: 100vh; /* Make sure the body takes the full height of the screen */
}

header {
    background-color: rgba(252, 3, 3, 0.2); /* Red color with 50% transparency */
    padding: 30px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 20;
}


.header-content {
    display: flex;
    justify-content: center;
    align-items: center;
    color:aliceblue;
    width: 100%;
    position: relative;
}

h1 {
    font-size: 24px;
    font-weight: bold;
    color: white;
}

.icons {
    position: absolute;
    right: 10px;
}

.icon {
    margin-left: 10px;
}

.profiles {
    display: flex;
    justify-content: space-around;
    padding: 20px;
    width: 100vw;
    margin-top: 1px;
    background: url("../images/all_abtus_backgrnd.jpg") center/cover fixed no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    min-height: 100vh;  /* Ensure profiles section takes up full viewport height */
    align-items: center; /* Ensure content aligns properly */
    flex-wrap: wrap; /* Allow flex items to wrap, improving responsiveness */
    flex-direction: row;
}

.profile {
    text-align: center;
    width: 200px;
    margin: 10px;
}

.profile img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.profile h2 {
    font-size: 18px;
    color: white;
    font-weight: bold;
    margin-top: 10px;
    font-style: italic;
}

.quote-box {
    background-color: #FDF4E3;
    padding: 15px;
    width: 100%; 
    height: auto;
    margin: 0 auto;
    border-radius: 15px;
    position: relative;
}

.quote {
    font-size: 14px;
}

.leaf-icon {
    width: 20px;
    height: 20px;
    position: absolute;
    bottom: 10px;
    right: 10px;
}

footer {
    width: 100vw;
    background-color:transparent;
    z-index: 10;
    color: white;
    padding: 20px 0;
    position: absolute;
    height:100vh;
    margin-top: auto; 
    text-align: center;
}

footer p {
    font-size: 14px;
    font-weight: bold;
    color: white;
    text-align: justify;
    line-height: 30px;
    padding-left: 10px;
}

footer a {
    text-decoration: none;
    color: greenyellow;
}
